@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #555;
}

a,
.btn {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

nav .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: none; 
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

.hamburger-icon span {
    display: block;
    height: 3px;
    width: 100%;
    background: black;
}

.menu-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.menu-links li {
    margin: 0 15px;
}

.nav-links {
    list-style: none;
    margin-top: 0;
    font-size: 1.3rem;
    position: relative;
}

.logo img {
    max-width: 50px;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(96, 145, 204);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.main {
    margin-top: 60px;
}

section {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.menu-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 20px; 
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu-links.open {
    display: flex; 
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 85vh;
}

.section_pic_container {
    display: flex;
    height: 475px;
    width: 475px;
    margin: auto 0;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title_1 {
    font-size: 3rem;
    text-align: center;
}

.btn_container {
    margin-top: 1.5rem;
    text-align: center;
}

.btn_color {
    background: linear-gradient(90deg, #6091cc, #ef8ebf);
    border: none;
    color: white;
    padding: 1rem 1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_color:hover {
    background-color: #4f7ebf;
    transform: scale(1.05);
}

#about {
    padding: 4rem 0;
    text-align: center;
}

.title_2 {
    font-size: 2.5rem;
    position: relative;
}

.title_2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3.5px;
    background: linear-gradient(90deg, #6091cc, #ef8ebf);
    border-radius: 1px;
}

.text_container {
    margin: 2rem auto;
}

.text_container p {
    color: #555;
    line-height: 1.6;
    text-align: left;
}

#projects {
    padding: 4rem 0;
    text-align: center;
}

.details_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3.5rem;
    margin-top: 2rem;
}

#contact {
    padding: 4rem 0;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

.contact-info {
    text-align: left;
    flex: 1;
    max-width: 400px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.contact-info h2 {
    font-size: 1.5rem;
}

.contact-info a {
    color: #555;
    text-decoration: none;
}

.contact-info a:hover {
    color: rgb(96, 145, 204);
}

/* Footer styles */
footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #F9F9F7;
}

footer p {
    margin: 0;
}

footer p::before {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .menu-links {
        display: none; 
    }

    .hamburger {
        display: block; 
    }

    .header {
        justify-content: space-between;
    }

    section {
        margin: 0 2rem; 
    }
}
